@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.requested {
    @apply text-requested bg-requested/25;
}

.pending {
    @apply text-pending bg-pending/25;
}

.approved {
    @apply text-approved bg-approved/25;
}

.declined {
    @apply text-declined bg-declined/25;
}

input:disabled {
    @apply bg-gray-200;
    border: 0 !important;
}

select:disabled {
    @apply bg-gray-200;
    border: 0 !important;
}

textarea:disabled {
    @apply bg-gray-200;
    border: 0 !important;
}

.text-blue_green {
    @apply text-[#0B9B97];
}

.bg-blue_green {
    @apply bg-[#0B9B97];
}

.text-yellow {
    @apply text-[#E3C004];
}

.bg-yellow {
    @apply bg-[#E3C004];
}

.text-violate {
    @apply text-[#A11CD2];
}

.bg-violate {
    @apply bg-[#A11CD2];
}

.text-blue {
    @apply text-[#003399];
}

.bg-blue {
    @apply bg-[#003399];
}

.text-green {
    @apply text-[#1C9C0D];
}

.bg-green {
    @apply bg-[#1C9C0D];
}

.text-orange {
    @apply text-[#E28910];
}

.bg-orange {
    @apply bg-[#E28910];
}

.text-red {
    @apply text-[#CC0000];
}

.bg-red {
    @apply bg-[#CC0000];
}

.border-blue {
    @apply border-[#003399];
}

.-z-1 {
    z-index: -1;
}

.origin-0 {
    transform-origin: 0%;
}

input[placeholder=" "]:focus~label,
input[placeholder=" "]:not(:placeholder-shown)~label,
textarea:focus~label,
textarea:not(:placeholder-shown)~label,
select:focus~label,
select:not([value='']):valid~label {
    /* @apply transform; scale-75; -translate-y-6; */
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-scale-x: 0.75;
    --tw-scale-y: 0.75;
    --tw-translate-y: -1.5rem;
}

input:focus~label,
textarea:focus~label,
select:focus~label {
    /* @apply text-black; left-0; */
    --tw-text-opacity: 1;
    color: #003399;
    /* color: rgba(0, 0, 0, var(--tw-text-opacity)); */
    left: 0px;
}

.bg-orange-light {
    @apply bg-[#ffedd5]
}

.bg-pink {
    @apply bg-[#f16fb2]
}

.bg-blue-pie {
    @apply bg-[#1F78B4]
}

.bg-sky-blue-pie {
    @apply bg-[#A6CEE3]
}